// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
}
@media(min-width:768px) {
  header.masthead {
  }
}
